<template>
  
  <div class="col-md-12">
      <div class="row">
        <div class="card card-container">
        <img
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card"
        />
        <form name="form" @submit.prevent="handleRegister">
          <div v-if="!successful">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                v-model="user.profile.username"
                v-validate="'required|min:3|max:20'"
                type="text"
                class="form-control"
                name="username"
              />
              <div
                v-if="submitted && errors.has('username')"
                class="alert-danger"
              >{{errors.first('username')}}</div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                v-model="user.email"
                v-validate="'required|email|max:50'"
                type="email"
                class="form-control"
                name="email"
              />
              <div
                v-if="submitted && errors.has('email')"
                class="alert-danger"
              >{{errors.first('email')}}</div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                v-model="user.password"
                v-validate="'required|min:6|max:40'"
                type="password"
                class="form-control"
                name="password"
              />
              <div
                v-if="submitted && errors.has('password')"
                class="alert-danger"
              >{{errors.first('password')}}</div>
            </div>
            <div class="form-group">
              <label for="reg_number">Reg Number</label>
              <input
                v-model="user.profile.reg_number"
                v-validate="'required|min:3|max:20'"
                type="text"
                class="form-control"
                name="reg_number"
              />
              <div
                v-if="submitted && errors.has('reg_number')"
                class="alert-danger"
              >{{errors.first('reg_number')}}</div>
            </div>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input
                v-model="user.profile.firstName"
                v-validate="'required|min:3|max:20'"
                type="text"
                class="form-control"
                name="firstName"
              />
              <div
                v-if="submitted && errors.has('firstName')"
                class="alert-danger"
              >{{errors.first('firstName')}}</div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                v-model="user.profile.lastName"
                v-validate="'required|min:3|max:20'"
                type="text"
                class="form-control"
                name="lastName"
              />
              <div
                v-if="submitted && errors.has('lastName')"
                class="alert-danger"
              >{{errors.first('lastName')}}</div>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input
                v-model="user.profile.phoneNumber"
                v-validate="'required|min:10|max:13'"
                type="phone"
                class="form-control"
                name="phoneNumber"
              />
              <div
                v-if="submitted && errors.has('phoneNumber')"
                class="alert-danger"
              >{{errors.first('phoneNumber')}}</div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label>Gender Type</label>
                <select v-model="user.gender" class="form-control col-md-4">
                <option v-for="gender in genderList" :value="gender" :key="gender">
                        {{gender}}
                    </option>
                </select>
                </div>
              <div
                v-if="submitted && errors.has('gender')"
                class="alert-danger"
              >{{errors.first('gender')}}</div>
            </div>
            


            <div class="form-group">
              <button class="btn btn-primary btn-block">Sign Up</button>
            </div>
          </div>
        </form>

        <div
          v-if="message"
          class="alert"
          :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
      </div>
      </div>
  </div>
</template>

<script>
import User from '../models/user';
import Profile from '../models/profile';

export default {
  name: 'Register',
  data() {
    return {
      user: new User('', '', ''),
      profile: new Profile('','','','','','',''),
      submitted: false,
      successful: false,
      selected: '',
      genderList: ['Male','Female'],
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  methods: {
   
    handleRegister() {
      this.message = '';
      this.submitted = true;
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch('auth/register', this.user).then(
            data => {
              this.message = data.message;
              this.successful = true;
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
      });
      // console.log({ user: this.user });
      console.log(this.user)
      // console.log(this.selected1)
      // alert('Processing!');
    }
  }
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>